<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input, button{
            margin: 10px;
            width: 200px;
            height: 20px;

        }
        button{
            padding: 10px;
            text-align: center;
        }
     
   
    </style>
</head>
<body>
    <form action="/product" method="post">
        <input type="number" name="number1" placeholder="Enter first number"><br>
        <input type="number" name="number2" placeholder="Enter second number"><br>
        <input type="number" name="number3" placeholder="Enter third number"><br>
        <input type="number" name="number4" placeholder="Enter forth number"><br>
        <input type="number" name="number5" placeholder="Enter last number"><br>

        <button type="submit">Find product</button>
    </form>
</body>
</html>